{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Пожалуйста, введите (и подтвердите) свой новый пароль.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить мой пароль"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Не удалось сбросить пароль</h1>
        <p>Ссылка для сброса пароля была неверной, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}

{% endblock %}