{% extends "base_generic.html" %}

{% block content %}
<h1>Читальня на районе</h1>

<p>Добро пожаловать в <em>Читальню на районе</em>, вашем надежном компаньоне в мире знаний! </p>
<p>Здесь вы найдете увлекательные книги всех жанров, от классики до современных бестселлеров. Наслаждайтесь временем, проведенным за чтением в нашем маленьком уголке рая!</p>


<h2>UML Models</h2>
<p>Ниже приведена UML-диаграмма сайта читальни. </p>

<div>
    {% load static %}
    <img src="{% static 'images/local_library_model_uml.png' %}" alt="My image" width="600px">
</div>


<h2>Динамическая аналитика сайта</h2>

<p>В нашей читальне сейчас вот такое количество контента:</p>
<ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Экземпляры книг:</strong> {{ num_instances }}</li>
    <li><strong>Доступные экземпляры книг:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
</ul>


<p>Вы посетили эту страницу вот столько раз {{ num_visits }}.</p>

{% endblock %}