{% extends "base_generic.html" %}

{% block content %}

<h1>Удалить книгу</h1>

{% if book.bookinstance_set.all %}
<p>Вы не сможете удалить эту книгу до тех пор, пока не будут удалены все её экземпляры:</p>

<ul>
{% for copy in book.bookinstance_set.all %}
  <li><a href="{{ copy.get_absolute_url }}">{{copy.id}}</a> (Imprint: {{copy.imprint}})</li>
{% endfor %}
</ul>

{% else %}
<p>Вы уверены, что хотите удалить книгу: {{ book }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Да, удалить.">
</form>
{% endif %}

{% endblock %}
